<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<header>
    <% include partials/menu %>
</header>
<div class="container-fluid">
    <!--section 1-->
    <div class="row">
      <div class="col-md-8 justify-content-center">
         <p class="body-text">World-class outcomes for brands and people through design, content, user experience and technology. </p>
      </div>
    </div>
    <!--section 1-->
    <div class="row section-projects top-buffer section w-100 h-100">
        <div class="row top-buffer">
            <p class="section-header">Latest Project</p>
        </div>
        <div class="row top-buffer" style="padding-top:0px!important;padding-bottom:0px!important;">
          <div class="col-sm-4 vertical-align">
            <div class="project-header" >
              <div class="project-date-latest">
                Feb 2019
              </div>
              <div class="project-title-latest">
                Imbue Spark
              </div>
              <div class="project-sub-latest">
                Google APIs, Cloud Application
              </div>
              <div class="project-component-latest">
                  NodeJS, Google Cloud Vision, Webhose.io, ES6
              </div>  
          </div>
          </div>
          <div class="col-sm-8">
              <img class="project-featured" src="https://s3.amazonaws.com/jonas-personal-portfolio/images/pablo-downloading.svg"/>
          </div>
        </div>
    </div>
    </div>
    <!--section 3-->
    <div class="row section-articles top-buffer row-eq-height section">
        <div class="row top-buffer">
            <p class="section-header">Articles</p>
        </div>
  
        <% if (document2.length > 0) {%>
          <% document2.slice(-3).forEach((document2, index) => { %>
          <div class="col-sm-4 article">
              <div class="project-header">
                  <img class="project-featured" src="<%=(document2.data.image.url) %>"/>
                  <div class="project-date-latest">
                    
                  </div>
                  <div class="project-title-latest underline">
                      <a href="/article/<%= (document2.uid) ?  document2.uid  : '' %>"><%= PrismicDOM.RichText.asText(document2.data.title) %></a>
                  </div>
                  <div class="category-featured">
                    <p><%= PrismicDOM.RichText.asText(document2.data.category) %></p>
                  </div> 
                </div> 
          </div>
          <% }) %>
        <% } %>  
      
    </div>
  <!--section 4-->
    <div class="row ">
      <div class="col-md-6 contact half section">
          <div class="row top-buffer" >
              <p class="section-header">Let's have a chat</p>
          </div>
          <div class="col-md-3 ">
          </div>
          <div class="col-md-6 ">
          <form id="contact-form" method="post" action="contact.php" role="form">
              <div class="messages"></div>
              <div class="controls">
                  <div class="row contact-row">
                    <div class="col-md-12">
                      <p class="contact-header">I'd love to connect with you.</p>
                    </div>
                  </div>
                  <div class="row contact-row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_name">First Name</label>
                              <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_lastname">Last Name</label>
                              <input id="form_lastname" type="text" name="surname" class="form-control" required="required" data-error="Lastname is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                  </div>
                  <div class="row contact-row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="form_email">Email *</label>
                              <input id="form_email" type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                  </div>
                  <div class="row contact-row">
                      <div class="col-md-12">
                          <input type="submit" class="btn btn-success btn-send sign-up" value="Send Message">
                      </div>
                  </div>
                  <div class="row contact-row">
                      <div class="col-md-12">
                          <a href="https://linkedin.com/in/jonas-albaira" class="btn btn-success btn-send sign-up" >Follow me on LinkedIn</a>
                      </div>
                  </div>
                  <div class="row contact-row">
                      <div class="col-md-12">
                          <button type="submit" class="btn btn-success btn-send sign-up google" target="_blank" ><img src="https://img.icons8.com/nolan/64/000000/gmail.png" width=28/>&nbsp;&nbsp;Sign Up with Google</button>
                      </div>
                  </div>   
              </div>       
          </form>
          </div>
      </div>
      <div class="col-md-6 featured half ">
        <div class="row top-buffer" >
          <p class="section-header">Featured Story</p>
        </div>
        <div class="row top-buffer">
          <img class="project-featured large" src="<%= document.data.image.url %>"/>
            <div class="category-featured">
              <p><%= PrismicDOM.RichText.asText(document.data.category) %></p>
            </div>   
            <div class="title-featured underline">               
                <a href="/article/<%= (document.uid) ?  document.uid  : '' %>"><%= PrismicDOM.RichText.asText(document.data.title) %></a>
            </div>        
        </div>
      </div>
      
    </div>
    <!-- The overlay -->
    <div id="myNav" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      
      <!-- Overlay content -->
      <div class="overlay-content">
          <header>
              <% include partials/menu %>
          </header>
        <div class="row top-buffer">
          <div class="col-md-12">
            <div class="category-featured " id="cat-feat">
              
            </div>   
            <div class="title-featured"> 
              <%= PrismicDOM.RichText.asText(document.data.title) %>
            </div>
            <img class="project-featured" src="<%= document.data.image.url %>"/>
          </div>
          <div class="row top-buffer">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="padding-top:0px!important;">
                <span class="article-body"><%- PrismicDOM.RichText.asHtml(document.data.description) %></span>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>  
    </div>
  <!-- end container -->
  </div>
<!-- SPOTIFY PLAYLIST -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>

    window.sr = new ScrollReveal({ duration: 2000 });
    sr.reveal('.reveal');

    /* Open when someone clicks on the span element */
    function openNav() {
      document.getElementById("myNav").style.width = "100%";

      
    }

    /* Close when someone clicks on the "x" symbol inside the overlay */
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      
    }

</script>
<script>

</script>
</body>
<% include partials/script %>
</html>